*{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	display: block;
	height: 0;
	content: '';
	clear: both;
	visibility: hidden;
}
ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,label,form,fieldset,legend,header,
footer,nav,section,aside,dialog,figure,figcaption,hgroup,article,canvas{
	display: block;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family:"Hiragino Sans GB","Hiragino SansGBW3",
	"Microsoft Yahei",STHeiti,SimSum,helvetica,arial,sans-s;
}
.ellipsis{
	white-space: nowrap;/*空白不换行*/
	overflow: hidden;/*溢出隐藏*/
	text-overflow: ellipsis;/*显示省略号*/
}
table{
	border-collapse:collapse ;
	border-spacing:0 ;
}
